<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/indexnav.css")" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Message In The Sky
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul id="navbar-options" class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#loginModal"><span class="fa fa-grav" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
                    <h4 class="modal-title">MITS</h4>
                </div>
                <div class="modal-body">
                    <h4>Login</h4>
                    <div class="form-group">
                        <div class="icon-addon addon-md">
                            <input type="text" placeholder="Email" class="form-control" id="loginEmail" />
                            <label for="loginEmail" class="glyphicon glyphicon-envelope" rel="tooltip" title="email"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="icon-addon addon-md">
                            <input type="password" placeholder="Password" class="form-control" id="loginPassword" />
                            <label for="loginPassword" class="glyphicon glyphicon-lock" rel="tooltip" title="password"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p>Don't have an account? <a data-dismiss="modal" data-toggle="modal" data-target="#signupModal">Sign up</a> here.</p>
                    <button type="button" id="loginBtn" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
                    <h4 class="modal-title">MITS</h4>
                </div>
                <div class="modal-body">
                    <h4>Sign Up</h4>
                    <div class="form-group">
                        <div class="icon-addon addon-md">
                            <input type="text" placeholder="Email" class="form-control" id="signupEmail" />
                            <label for="signupEmail" class="glyphicon glyphicon-envelope" rel="tooltip" title="email"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="icon-addon addon-md">
                            <input type="password" placeholder="Password" class="form-control" id="signupPassword" />
                            <label for="signupPassword" class="glyphicon glyphicon-lock" rel="tooltip" title="password"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="icon-addon addon-md">
                            <input type="password" placeholder="Re-enter" class="form-control" id="reenterPassword" />
                            <label for="reenterPassword" class="glyphicon glyphicon-lock" rel="tooltip" title="password"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p>Already have an account? <a data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Login</a> here.</p>
                    <button type="button" id="signupBtn" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>